In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Emissions_Agriculture_Enteric_Fermentation_E_All_Data_(Normalized).csv', encoding = "ISO-8859-1")

In [3]:
pd.unique(df['Unit'])

array(['Head', 'kilotonnes'], dtype=object)

In [4]:
df = df[df['Unit'].str.contains('kilotonnes') == False]

In [5]:
pd.unique(df['Unit'])

array(['Head'], dtype=object)

In [6]:
pd.unique(df['Item'])

array(['Asses', 'Camels', 'Cattle, dairy', 'Cattle, non-dairy', 'Goats',
       'Horses', 'Mules and hinnies', 'Sheep', 'Camels and Llamas',
       'Cattle', 'Mules and Asses', 'Sheep and Goats', 'Buffalo',
       'Swine, breeding', 'Swine, market', 'Swine', 'Llamas'],
      dtype=object)

In [7]:
pd.unique(df['Source Code'])

array([3050, 3051])

In [8]:
# Drop unneeded columns
list(df.columns)

['Area Code',
 'Area Code (M49)',
 'Area',
 'Item Code',
 'Item Code (CPC)',
 'Item',
 'Element Code',
 'Element',
 'Year Code',
 'Year',
 'Source Code',
 'Source',
 'Unit',
 'Value',
 'Flag']

In [9]:
drop_cols = ['Area Code','Area Code (M49)', 'Element Code', 'Year Code', 'Source Code','Unit']

In [10]:
df = df.drop(columns=drop_cols)

In [11]:
pd.unique(df['Area'])

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize',
       'Benin', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guyana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Réunion',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Türkiye', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD'], dtype=object)

In [12]:
# Since we just want the categorical info we can drop value 
# df = df.drop(columns='Value')

In [13]:
df

,Area,Item Code,Item Code (CPC),Item,Element,Year,Source,Value,Flag
0,Afghanistan,1107,'02132,Asses,Stocks,1961,FAO TIER 1,1300000.0,A
1,Afghanistan,1107,'02132,Asses,Stocks,1962,FAO TIER 1,851850.0,A
2,Afghanistan,1107,'02132,Asses,Stocks,1963,FAO TIER 1,1001112.0,A
3,Afghanistan,1107,'02132,Asses,Stocks,1964,FAO TIER 1,1150000.0,E
4,Afghanistan,1107,'02132,Asses,Stocks,1965,FAO TIER 1,1300000.0,A
...,...,...,...,...,...,...,...,...,...
367785,OECD,1048,'F1048,Swine,Stocks,2017,FAO TIER 1,274608900.0,E
367786,OECD,1048,'F1048,Swine,Stocks,2018,FAO TIER 1,277438836.0,E
367787,OECD,1048,'F1048,Swine,Stocks,2019,FAO TIER 1,281298554.0,E
367788,OECD,1048,'F1048,Swine,Stocks,2030,FAO TIER 1,276804656.0,E
367789,OECD,1048,'F1048,Swine,Stocks,2050,FAO TIER 1,277062371.0,E

In [41]:
# Get date ranges for each item, depending on source 
source_years = pd.DataFrame(df.groupby('Source')['Year'].unique().apply(list))
source_years = source_years.reset_index()
source_years

# Output 
source_years.to_csv('EF_source_year.csv', index=False)

In [42]:
source_years

       Source                                               Year
0  FAO TIER 1  [1961, 1962, 1963, 1964, 1965, 1966, 1967, 196...
1      UNFCCC  [1990, 1991, 1992, 1993, 1994, 1995, 1996, 199...

In [51]:
item_area_years = pd.DataFrame(df.groupby(['Item', 'Area','Source'])['Year'].apply(list))
item_area_years = item_area_years.reset_index()
item_area_years

# Output 
item_area_years.to_csv('EF_Item_Area_Source_Year.csv', index = False)

In [49]:
source_item_year = pd.DataFrame(df.groupby(['Source','Item'])['Year'].unique().apply(list))
source_item_year = source_item_year.reset_index()
source_item_year.to_csv('EF_Source_Item_Year.csv', index=False)

In [29]:
source_country_year = pd.DataFrame(df.groupby(['Source','Area'])['Year'].apply(list))
source_country_year = source_country_year.reset_index()
source_country_year

source_country_year.to_csv('EF_Source_Country_Year.csv', index = False)

In [69]:
df

,Area,Item Code,Item Code (CPC),Item,Element,Year,Source,Value,Flag
0,Afghanistan,1107,'02132,Asses,Stocks,1961,FAO TIER 1,1300000.0,A
1,Afghanistan,1107,'02132,Asses,Stocks,1962,FAO TIER 1,851850.0,A
2,Afghanistan,1107,'02132,Asses,Stocks,1963,FAO TIER 1,1001112.0,A
3,Afghanistan,1107,'02132,Asses,Stocks,1964,FAO TIER 1,1150000.0,E
4,Afghanistan,1107,'02132,Asses,Stocks,1965,FAO TIER 1,1300000.0,A
...,...,...,...,...,...,...,...,...,...
367785,OECD,1048,'F1048,Swine,Stocks,2017,FAO TIER 1,274608900.0,E
367786,OECD,1048,'F1048,Swine,Stocks,2018,FAO TIER 1,277438836.0,E
367787,OECD,1048,'F1048,Swine,Stocks,2019,FAO TIER 1,281298554.0,E
367788,OECD,1048,'F1048,Swine,Stocks,2030,FAO TIER 1,276804656.0,E
367789,OECD,1048,'F1048,Swine,Stocks,2050,FAO TIER 1,277062371.0,E

In [70]:
pd.unique(df['Element'])

array(['Stocks'], dtype=object)

In [71]:
df = df.set_index('Item')
df.loc['Cattle, dairy']

,Area,Item Code,Item Code (CPC),Element,Year,Source,Value,Flag
Item,,,,,,,,
"Cattle, dairy",Afghanistan,960,'F0960,Stocks,1961,FAO TIER 1,700000.0,E
"Cattle, dairy",Afghanistan,960,'F0960,Stocks,1962,FAO TIER 1,700000.0,E
"Cattle, dairy",Afghanistan,960,'F0960,Stocks,1963,FAO TIER 1,780000.0,E
"Cattle, dairy",Afghanistan,960,'F0960,Stocks,1964,FAO TIER 1,780000.0,E
"Cattle, dairy",Afghanistan,960,'F0960,Stocks,1965,FAO TIER 1,870000.0,E
...,...,...,...,...,...,...,...,...
"Cattle, dairy",OECD,960,'F0960,Stocks,2017,FAO TIER 1,49064415.0,E
"Cattle, dairy",OECD,960,'F0960,Stocks,2018,FAO TIER 1,49710588.0,E
"Cattle, dairy",OECD,960,'F0960,Stocks,2019,FAO TIER 1,49117385.0,E
"Cattle, dairy",OECD,960,'F0960,Stocks,2030,FAO TIER 1,50940975.0,E
"Cattle, dairy",OECD,960,'F0960,Stocks,2050,FAO TIER 1,50683644.0,E